In [1]:
import pandas as pd
import numpy as np

In [3]:
d = {
    'Tid':range(1,11),
    'Refund':['Yes','No','No','Yes','No','No','Yes','No','No','No'],
    'Marital Status':['Single','Married','Single','Married','Divorced','Married','Divorced','Single','Married','Single'],
    'Taxable Income':[125000,100000,70000,120000,95000,60000,220000,85000,75000,90000],
    'Cheat':['No','No','No','No','Yes','No','No','Yes','No','Yes']
}

In [6]:
df = pd.DataFrame(d,index=d['Tid'])

In [8]:
df

    Tid Refund Marital Status  Taxable Income Cheat
1     1    Yes         Single          125000    No
2     2     No        Married          100000    No
3     3     No         Single           70000    No
4     4    Yes        Married          120000    No
5     5     No       Divorced           95000   Yes
6     6     No        Married           60000    No
7     7    Yes       Divorced          220000    No
8     8     No         Single           85000   Yes
9     9     No        Married           75000    No
10   10     No         Single           90000   Yes

In [14]:
print(f'Row 0 :\n{df.iloc[0]},\nRow 4:\n{df.iloc[3]},\nRow 7:\n{df.iloc[6]},\nRow 8:\n{df.iloc[7]}')

Row 0 :
Tid                    1
Refund               Yes
Marital Status    Single
Taxable Income    125000
Cheat                 No
Name: 1, dtype: object,
Row 4:
Tid                     4
Refund                Yes
Marital Status    Married
Taxable Income     120000
Cheat                  No
Name: 4, dtype: object,
Row 7:
Tid                      7
Refund                 Yes
Marital Status    Divorced
Taxable Income      220000
Cheat                   No
Name: 7, dtype: object,
Row 8:
Tid                    8
Refund                No
Marital Status    Single
Taxable Income     85000
Cheat                Yes
Name: 8, dtype: object

In [15]:
df.to_csv('Cheat.csv')

In [20]:
cheat = pd.read_csv('Cheat.csv').drop('Unnamed: 0', axis=1)

In [22]:
cheat

   Tid Refund Marital Status  Taxable Income Cheat
0    1    Yes         Single          125000    No
1    2     No        Married          100000    No
2    3     No         Single           70000    No
3    4    Yes        Married          120000    No
4    5     No       Divorced           95000   Yes
5    6     No        Married           60000    No
6    7    Yes       Divorced          220000    No
7    8     No         Single           85000   Yes
8    9     No        Married           75000    No
9   10     No         Single           90000   Yes

In [24]:
numeric_continuous = [5.5, 6.8, 7.2, 8.0]
numeric_discrete = [1, 2, 3, 4, 5]
nominal = ["Alice", "HR", "Male", "Female"]
binary = ["Yes", "No", "Pass", "Fail", "Male", "Female"]
ordinal = ["Low", "Medium", "High"]

In [25]:
print("Nominal:", nominal)
print("Binary:", binary)
print("Ordinal:", ordinal)
print("Numeric (Continuous):", numeric_continuous)
print("Numeric (Discrete):", numeric_discrete)

Nominal: ['Alice', 'HR', 'Male', 'Female']
Binary: ['Yes', 'No', 'Pass', 'Fail', 'Male', 'Female']
Ordinal: ['Low', 'Medium', 'High']
Numeric (Continuous): [5.5, 6.8, 7.2, 8.0]
Numeric (Discrete): [1, 2, 3, 4, 5]

In [26]:
data = {
    "A": [10, 20, 30, 40, 50, 60, 70, 80],
    "B": [5, 10, 15, 20, 25, 30, 35, 40],
    "C": [2, 4, 6, 8, 10, 12, 14, 16],
    "D": [1, 3, 5, 7, 9, 11, 13, 15]
}

In [28]:
ddf = pd.DataFrame(data)
print("\nOriginal DataFrame:\n", ddf)

Original DataFrame:
     A   B   C   D
0  10   5   2   1
1  20  10   4   3
2  30  15   6   5
3  40  20   8   7
4  50  25  10   9
5  60  30  12  11
6  70  35  14  13
7  80  40  16  15

In [30]:
print("\nRows from index 3 to 7:\n", ddf.iloc[3:8])
print("\nRows 4 to 8, Columns 2 to 4:\n", ddf.iloc[4:9, 2:5])
print("\nAll rows, columns 1 to 3:\n", ddf.iloc[:, 1:4])

Rows from index 3 to 7:
     A   B   C   D
3  40  20   8   7
4  50  25  10   9
5  60  30  12  11
6  70  35  14  13
7  80  40  16  15

Rows 4 to 8, Columns 2 to 4:
     C   D
4  10   9
5  12  11
6  14  13
7  16  15

All rows, columns 1 to 3:
     B   C   D
0   5   2   1
1  10   4   3
2  15   6   5
3  20   8   7
4  25  10   9
5  30  12  11
6  35  14  13
7  40  16  15

In [34]:
from sklearn.datasets import load_iris

iris = load_iris()
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

In [35]:
modified_df = iris_df.drop(index=4, columns=iris_df.columns[3])
print("\nAfter deleting row 4 and column 3:\n", modified_df.head())

After deleting row 4 and column 3:
    sepal length (cm)  sepal width (cm)  petal length (cm)
0                5.1               3.5                1.4
1                4.9               3.0                1.4
2                4.7               3.2                1.3
3                4.6               3.1                1.5
5                5.4               3.9                1.7

In [36]:
employees = {
    "Employee_ID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "Diana", "Edward"],
    "Department": ["HR", "IT", "IT", "Marketing", "Sales"],
    "Age": [29, 34, 41, 28, 38],
    "Salary": [50000, 70000, 65000, 55000, 60000],
    "Years_of_Experience": [4, 8, 10, 3, 12],
    "Joining_Date": ["2020-03-15", "2017-07-19", "2013-06-01", "2021-02-10", "2010-11-25"],
    "Gender": ["Female", "Male", "Male", "Female", "Male"],
    "Bonus": [5000, 7000, 6000, 4500, 5000],
    "Rating": [4.5, 4.0, 3.8, 4.7, 3.5]
}

emp_df = pd.DataFrame(employees)

In [37]:
print("\nShape of DataFrame (rows, columns):", emp_df.shape)
print("\nDataFrame Info:")
print(emp_df.info())
print("\nDescriptive Statistics:\n", emp_df.describe())
print("\nFirst 5 rows:\n", emp_df.head())
print("\nLast 3 rows:\n", emp_df.tail(3))

Shape of DataFrame (rows, columns): (5, 10)

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_Experience  5 non-null      int64
 6   Joining_Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes
None

Descriptive Statistics:
        Employee_ID        Age       Salary  Years_of_Experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

First 5 rows:
    Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

Last 3 rows:
    Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

In [38]:
avg_salary = emp_df["Salary"].mean()
total_bonus = emp_df["Bonus"].sum()
youngest_age = emp_df["Age"].min()
highest_rating = emp_df["Rating"].max()

In [39]:
print("\nAverage Salary:", avg_salary)
print("Total Bonus:", total_bonus)
print("Youngest Age:", youngest_age)
print("Highest Rating:", highest_rating)

Average Salary: 60000.0
Total Bonus: 27500
Youngest Age: 28
Highest Rating: 4.7

In [40]:
sorted_df = emp_df.sort_values(by="Salary", ascending=False)
print("\nSorted by Salary (Descending):\n", sorted_df)

Sorted by Salary (Descending):
    Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2010-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5

In [41]:
def categorize(rating):
    if rating >= 4.5:
        return "Excellent"
    elif 4.0 <= rating < 4.5:
        return "Good"
    else:
        return "Average"

In [42]:
emp_df["Performance_Category"] = emp_df["Rating"].apply(categorize)
print("\nAfter adding Performance_Category:\n", emp_df)

After adding Performance_Category:
    Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating Performance_Category
0   2020-03-15  Female   5000     4.5            Excellent
1   2017-07-19    Male   7000     4.0                 Good
2   2013-06-01    Male   6000     3.8              Average
3   2021-02-10  Female   4500     4.7            Excellent
4   2010-11-25    Male   5000     3.5              Average

In [43]:
print("\nMissing values in DataFrame:\n", emp_df.isnull().sum())
emp_df.rename(columns={"Employee_ID": "ID"}, inplace=True)
print("\nAfter renaming column:\n", emp_df.head())

Missing values in DataFrame:
 Employee_ID             0
Name                    0
Department              0
Age                     0
Salary                  0
Years_of_Experience     0
Joining_Date            0
Gender                  0
Bonus                   0
Rating                  0
Performance_Category    0
dtype: int64

After renaming column:
     ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance_Category
0  Female   5000     4.5            Excellent
1    Male   7000     4.0                 Good
2    Male   6000     3.8              Average
3  Female   4500     4.7            Excellent
4    Male   5000     3.5              Average

In [44]:
print("\nEmployees with more than 5 years of experience:\n", emp_df[emp_df["Years_of_Experience"] > 5])

Employees with more than 5 years of experience:
     ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
4  105   Edward      Sales   38   60000                   12   2010-11-25

  Gender  Bonus  Rating Performance_Category
1   Male   7000     4.0                 Good
2   Male   6000     3.8              Average
4   Male   5000     3.5              Average

In [45]:
print("\nEmployees in IT department:\n", emp_df[emp_df["Department"] == "IT"])

Employees in IT department:
     ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01

  Gender  Bonus  Rating Performance_Category
1   Male   7000     4.0                 Good
2   Male   6000     3.8              Average

In [46]:
emp_df["Tax"] = emp_df["Salary"] * 0.10
print("\nAfter adding Tax column:\n", emp_df)

After adding Tax column:
     ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance_Category     Tax
0  Female   5000     4.5            Excellent  5000.0
1    Male   7000     4.0                 Good  7000.0
2    Male   6000     3.8              Average  6500.0
3  Female   4500     4.7            Excellent  5500.0
4    Male   5000     3.5              Average  6000.0

In [47]:
emp_df.to_csv("modified_employees.csv", index=False)
print("\nModified DataFrame saved as 'modified_employees.csv'")

Modified DataFrame saved as 'modified_employees.csv'